<launch>
  <include file="$(find freenect_launch)/launch/freenect.launch"/>

  <include file="$(find gummi_demo_hand_shake)/launch/scan.launch"/>
  <include file="$(find gummi_demo_hand_shake)/launch/trigger.launch"/>

  <!--node name="arduino_hand" pkg="rosserial_python" type="serial_node.py" output="screen" args="/dev/ttyUSB3"/-->

  <include file="$(find gummi_demo_hand_shake)/launch/hand_shake_node.launch">
  </include>
</launch>
